@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Liter&family=Noto+Sans+Cuneiform&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Fredoka", serif;
    text-decoration: none;
}
html{
    font-size: 10px;
}

/* ##########################################  utility classes ########################################## */

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}


/* ##########################################  navbar styling ########################################## */

/* for desktop mode */

.navbar input[type=text],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background-color: #fff;
    color: #000;
    opacity: 0.79;
    z-index: 999;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.menu-items{
     order: 2;
     display: flex;
}
.menu-items li{
    list-style: none;
    margin-right: -15px;
    margin-left: 3rem;
    font-size: 1.4rem;
    position: relative;
    right: 218px;
    transition: color 0.6 ease-in-out ;
}
.logo{
  order: 1;
  font-size: 25px;
}
.navbar a{
    color: #444;
    font-weight: 500;
}
.navbar a:hover{
    color: #117964;
}
/* ###########################        showcase styling        ############################### */

.showcase-area{
    height: 60vh;
    background:  url("https://thumbs.dreamstime.com/b/healthy-diet-food-background-raw-chicken-breast-various-vegetables-tasty-cooking-top-view-banner-84214313.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.showcase-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.6rem;
}
.btn{
   display: inline-block;
   padding: 1em 2.5em;
   border-radius: 50px;
   cursor: pointer;
   /* border: 1px solid black; */
   outline: none;
   margin-top: 1em;
   text-transform: uppercase;
   font-weight: 500;
}
.btn-primary{
    color: #fff;
    background-color: #16a083;
}


/* ###########################        self        ############################### */



.box1{
    /* border: 1px solid black;     */
    height: 170px;
    width: 400px;
    position: relative;
    left: 253px;
    top: 85px;
    /* background-color: rgb(245, 224, 227); */
}
.para{
    position: relative;
    bottom: -139px;
    font-size: 13px;
    font-weight: 600;
}
.para1{
    font-size: 23px;
    font-weight: 700;
    position: relative;
    bottom: -149px;
}
.para2{
    position: relative;
    top: 164px;
    font-weight: 700;
}
.para3{
    font-size: 12px;
    position: relative;
    bottom: -180px;
}
.box2{
    position: relative;
    left: 500px;
    bottom: 100px;
}
footer{
   text-align: center;
   position: relative;
   top: 290px;
   /* border: 1px solid black; */
   height: 30px;
   padding-top: 12px;
   font-size: 20px;
   color: rgb(134, 132, 132);
   font-weight: 500;
}
.food-menu{
    text-align: center;
    margin-top: 350px;
    font-size: 25px;
    color: rgb(134, 132, 132);
    font-weight: 400;
}
.footer{
    text-align: center;
    margin-top: 330px;
    font-size: 30px;
     font-weight: 400;
    color: rgb(134, 132, 132);
}
.types-of-food{
    width: 950px;
    height: 250px;
    /* border: 2px solid navy; */
    position: relative;
    left: 200px;
    top: 33px;
    text-align: center;
    opacity: 0.8;
}
.boxy1{
    display: inline-block;
    width: 290px;
    height: 230px;
    /* border: 2px solid black; */
    position: relative;
    right: 15px;
    background: url("https://www.cubesnjuliennes.com/wp-content/uploads/2022/06/Fresh-Summer-Fruit-Salad-Recipe.jpg");
    background-size: cover;
}
.boxy2{
    display: inline-block;
    width: 290px;
    height: 230px;
    /* border: 2px solid black; */
    background: url("https://t3.ftcdn.net/jpg/01/21/83/80/360_F_121838061_eb9T4qBv5fVsRQXTjQLYnbHSAJejpwcK.jpg");
    background-size: cover;
}
.boxy3{
    display: inline-block;
    width: 290px;
    height: 230px;
    /* border: 2px solid black; */
    position: relative;
    left: 15px;
    background: url("https://septemberfarmcheese.b-cdn.net/wp-content/uploads/Blogs/Homemade-Pizza/homemade-pizza-monterey-jack-cheese.jpg");
    background-size: cover;
}
.anotherfooter{
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
    color: rgb(134, 132, 132); 
}
.alldishes{
    height: 700px;
    width: 650px;
    /* border: 1px solid black; */
    position: relative;
    left: 360px;
    top: 35px;
}
.dish1{
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 50%;
    background: url("https://cdn.loveandlemons.com/wp-content/uploads/2021/04/green-salad.jpg");
    background-size: cover;
}
#dish1{
    position: relative;
     left: 207px; 
    top: 55px;
    font-size: ;
}
.dish2{
    position: relative;
    top: 50px;
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 50%;
    background: url("https://www.eatingwell.com/thmb/M_aWDjL9KLIF_L-fqXNoHcn0OdQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/ewl-251317-oatmeal-with-fruit-nuts-4000x4000-23cfd9b280c34392b30a54822b50707a.jpg");
    background-size: cover;
}
.dish3{
    position: relative;
    top: 100px;
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 50%;
    background: url("https://www.cookingclassy.com/wp-content/uploads/2017/08/margherita-pizza-9.jpg");
    background-size: cover;
}
.dish4{
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 50%;
    position: relative;
    left: 362px;
    bottom: 100px;
    background: url("https://plus.unsplash.com/premium_photo-1684534125661-614f59f16f2e?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2Vyc3xlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
}
#dish4{
    position: relative;
    left: 204px;
    top: 53px;
}
 .dish5{ 
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-left: 361px;
    position: relative;
    bottom: 550px;
    background: url("https://images.themodernproper.com/production/posts/2022/Homemade-French-Fries_8.jpg?w=1200&q=82&auto=format&fit=crop&dm=1662474181&s=687036746e03f50b6204c1390acdb537");
    background-size: cover;
}
.dish6{
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-left: 361px;
    position: relative;
    bottom: 1000px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoIycguxFgTpIN3L00tYQhJ2WkypXj5w_QkQ&s");
    background-size: cover;
}
.anotherfooter1{
    text-align: center;
    margin-top: 110px;
    font-size: 30px;
    font-weight: 400;
    color: rgb(134, 132, 132); 
    /* border: 1px solid black; */
 }
    
 .hicontainer{
    height: 250px;
    width: 100%;
     /* border: 1px solid black; */
     text-align: center;
     position: relative;
     top: 30px;
 }
 .bo1{
    height: 250px;
    width: 300px;
    display: inline-block;
    /* border: 1px solId black; */
    /* background-color: aquamarine; */
     margin-right: 100px; 
 }
 .bo2{
    height: 250px;
    width: 300px;
    display: inline-block;
    /* border: 1px solId black; */
    /* background-color: aquamarine; */
 }
 .bo3{
    height: 250px;
    width: 300px;
    display: inline-block;
    /* border: 1px solId black; */
    /* background-color: aquamarine; */
     margin-left: 100px; 
 }
 .lasttext{
    position: relative;
    top: 30px;
    font-size: 12px;
 }
  .profile{
    height: 100px;
    width: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    position: relative;
    left: 100px;
    top: 50px;
    background: url("https://t4.ftcdn.net/jpg/03/64/21/11/360_F_364211147_1qgLVxv1Tcq0Ohz3FawUfrtONzz8nq3e.jpg");
    background-size: cover;
 } 
 .profile1{
    height: 100px;
    width: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    position: relative;
    left: 100px;
    top: 50px;
    background: url("https://media.istockphoto.com/id/1317804578/photo/one-businesswoman-headshot-smiling-at-the-camera.jpg?s=612x612&w=0&k=20&c=EqR2Lffp4tkIYzpqYh8aYIPRr-gmZliRHRxcQC5yylY=");
    background-size: cover;
 } 
 .profile2{
    height: 100px;
    width: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    position: relative;
    left: 100px;
    top: 50px;
    background: url("https://www.shutterstock.com/image-photo/head-shot-young-attractive-businessman-260nw-1854697390.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 } 
 .name1{
    font-size: 12px;
    margin-top: 59px;
 }
 .name2{
    font-size: 12px;
    margin-top: 59px;
 }
 .name3{
    font-size: 12px;
    margin-top: 59px;
 }
 .lastcontainerr {
    width: 100%;
    height: 350px;
    /* border: 1px solid black; */
    margin-top: 50px;
    background-color: #eeeaea;
    opacity: 0.8;
}

.imagebox {
    width: 30%;
    height: 260px;
    /* border: 1px solid black; */
    position: relative;
    position: relative;
    left: 214px;
    top: 60px;
    background: url("https://wallpapers.com/images/hd/restaurant-background-3i0pcyemz5s6cok2.jpg");
    background-size: cover;
    border-radius: 8px 0px 0px 12px;

}

.detailbox {
    width: 30%;
    height: 260px;
    /* border: 1px solid black; */
    position: relative;
    left: 620px;
    bottom: 200px;
    background-color: white;
    opacity: 1;
    border-radius: 0px 8px 8px 0px;
}

#name {
    font-size: 14px;
    position: relative;
    top: 5px;
    left: 5px;
}

.name {
    position: relative;
    top: 5px;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
}
#email {
    font-size: 14px;
    position: relative;
    top: 8px;
    left: 5px;
}
.email {
    position: relative;
    top: 9px;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
}
#textarea{
    position: relative;
    top: 13px;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 100px;
    text-align: center;
}
.submit{
    position: relative;
    top: 20px;
    left: 12px;
    width: 80px;
    height: 30px;
    border-radius: 18px;
    border: none;
    background-color: #32de84;
    cursor: pointer;
}
.endfooter{
    text-align: center;
    width: 100%;
    height: 55px;
    background-color: rgb(82, 81, 81);
    font-size: 17px;
}